@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/vazir/Vazirmatn-Regular.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/vazir/Vazirmatn-Medium.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Vazir";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/vazir/Vazirmatn-Bold.woff2") format("woff2");
    font-display: swap;
  }
}

@layer base {
  body {
    font-family: "Vazir";
  }
  h2 {
    @apply text-xl;
  }
  h4 {
    @apply text-sm lg:text-base;
  }
  p {
    @apply text-base;
  }
  button {
    @apply cursor-pointer;
  }
  a {
    @apply cursor-pointer;
  }
  label,
  span {
    @apply text-xs text-gray-500 md:text-sm font-bold;
  }
}

@layer components {
  .input {
    @apply block w-full px-3 py-1.5 text-base text-center transition-colors border border-gray-200 rounded-md outline-none bg-zinc-50 lg:text-lg focus:border-blue-600;
  }

  .error-msg {
    @apply mt-1.5 inline-flex gap-x-1 justify-center text-sm text-red-600;
  }

  .btn {
    @apply text-white bg-red-500 py-3 px-8 rounded-md block outline-none;
  }
  .icon {
    @apply w-5 h-5 md:w-6 md:h-6 text-gray-700;
  }
  .order-badge {
    @apply bottom-0 left-1 bg-slate-200 p-1 rounded-md w-5 h-5  text-center text-[11px]  text-black/80 lg:hidden;
  }
  .section-divide-y {
    @apply h-3 bg-gray-200 lg:hidden;
  }

  .section-divide-x {
    @apply w-0.5 bg-gray-200;
  }
  .b {
    @apply border border-red-600;
  }
}
